<div class = "col-sm-6 col-md-3">
    <div class="thumbnail">
        <img class="img-thumbnail" src="https://img.pokemondb.net/artwork/large/bulbasaur.jpg">
        <div class = "caption p-2">
            <div class = "row">
                <div class="col-8">
                    <p style="font-weight: bold; font-size: 20px; margin-bottom: -5px;">Bulbasaur</p>
                    <p>Grass, poison</p>
                </div>
                <div class="col-3">
                    <div class="text-center">
                        <p class="fa fa-heart-o" appFavPokemon></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
