<div class="row mt-4 ml-4">
    <div class="col-4">
        <img id="poke-image" class="img-thumbnail" (click)="goToPokemon(pokemon)" src="{{ pokemon.imgURL }}">

        <p class="pl-2" style="font-weight: bold; font-size: 25px; margin-bottom: -4px; background: #eeeeee;">{{ pokemon.name }}</p>
        <p class="pl-2" id="types" style="background: #eeeeee;"><span style="font-size: 20px; background: #eeeeee;" >{{ pokemon.types[0] }}</span><span *ngIf="pokemon.types[1]" style="font-size: 20px; background: #eeeeee;">, {{ pokemon.types[1] }}</span></p>
        <div id="stats-cp" class="row">
            <div class="col-9 pl-2">
                <hr class="cp">
            </div>
            <div class="col-3 px-2 pt-1">
                <p style="font-weight: bold; margin-left: 20px; padding-top:4px;"> CP: {{  pokemon.cp }} </p>
            </div>
        </div>
        <div id="stats-hp" class="row">
            <div class="col-9 pl-2">
                <hr class="hp">
            </div>
            <div class="col-3 px-2 pt-1">
                <p style="font-weight: bold; margin-left: 20px; padding-top:4px;"> HP: {{  pokemon.hp }} </p>
            </div>
        </div>
        <div id="stats-wh" class="row mb-4">
            <div class="col-6">
                <div class="text-center">
                    <p class="border-left border-top border-right" style="font-weight: bold; margin-bottom: -4px;">Weigth</p>
                    <p class="border-left border-bottom border-right"> {{ pokemon.minWeight }} - {{ pokemon.maxWeight }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="text-center">
                    <p class="border-top border-right" style="font-weight: bold; margin-bottom: -4px;">Height</p>
                    <p class="border-bottom border-right"> {{ pokemon.minHeight }} - {{ pokemon.maxHeight }}</p>
                </div>
            </div>
        </div>   
    </div>
</div>


