<div class="card w-100">
    <div class="card-body">
        <div class="container-fuild">
            <div class="row mb-1">
                    <div class="btn-group btn-group-justified w-100">
                            <button class="btn btn-primary mx-1" [ngClass]="{'disabled':!isActive('All')}" (click)="onSelected('All')">All</button>
                            <button class="btn btn-primary mx-1" [ngClass]="{'disabled':isActive('All')}" (click)="onSelected('Fav')">Favorites</button>
                    </div>
            </div>
            <div class="row">
                    <input type="text" class="form-control mx-1" placeholder="Search...">
                    <button class="btn btn-secondary dropdown-toggle mx-1" type="button">
                        Type
                    </button>
                    <div class="btn-group btn-group-justified w-20">
                        <button class="btn"><span class="fa fa-align-justify"></span></button>
                        <button class="btn"><span class="fa fa-th"></span></button>       
                    </div>
            </div>
        </div>
    </div>
  </div>
