.card-body {
    box-shadow: 0px 1px 3px #dadada;
    border-radius: 0;
}

.col-7.px-1  {
    padding-left: 0px;
    padding-right: 0px;
}
.col-3.px-1  {
    padding-left: 0px;
    padding-right: 0px;
}
.col-2.px-1  {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-primary {
    border-radius: 0;
    background: #71c1a1;
    border-color: #71c1a1;
    font-weight: bold;
}

.custom-select {
    border-radius: 0;
    border-width: 0;
    color:#8e8e8e;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #eeeeee;
    background-position: 97%;
}

.custom-select:active, .custom-select:focus {
    outline: none !important;
    box-shadow: none;
}

option:hover, option:focus {
    border-width: 0;
    background-color: #a5a1a1;
}


.btn-primary.dropdown-toggle {
    background: #eeeeee;
    border-radius: 0;
    border-width: 0;
    color: #8e8e8e;
    font-weight: normal;
    margin-bottom: 2px;
    text-align: left;
}

#typeDd {
    width: 100% !important;
}

.form-control {
    border-radius: 0;
    border-width: 0;
    background: #eeeeee;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.dropdown {
    width: 100%;
    background: #eeeeee;
    color: #8e8e8e;
    text-align: left;
}

.disabled {
    color: #71c1a1;
    background: white;
    font-weight: bold;
}

.fa {
    color: #71c1a1;
    font-size: 190%;
    width: 10%;
    text-align: left;
}
