.container-fluid {
    margin-top: 8.5%;
}

.caption {
    background: #eeeeee;
}

.img-thumbnail {
    border-radius: 0;
    display: block;
    height: 379;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 379px;
    max-height: 379px;
    object-fit: contain;
    cursor: pointer;
}

.fa-heart, .fa-heart-o {
    color:red;
    font-size: 170%;
    margin-top: 20%;
}

#list-image {
    height: 140px; 
    min-height: 140px;
    max-height: 140px;
}

.col-1 {
    padding-left: 0px;
    padding-right: 0px;
}

#name-caption {
    background: #eeeeee;
    padding-top: 1.2%; 
}

#heart {
    background: #eeeeee;
    padding-left: 0px;
    padding-right: 0px;
}

#heart-from-list {
    font-size: 230%;
    margin-top: 12.2%;
    margin-right: 10%;
}

.row.w-100.mb-4 {
    border: 1px solid;
    border-color: #a5a1a1;
}
